    .button1 {
      background-color: #A6FCB9;
      border-color: #4CAF50;
      padding: 15px 5px;
      width: 200px;
      height: 80px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    .button2 {
      background-color: #98D5F9;
      border-color: #99CEEC;
      padding: 15px 5px;
      width: 200px;
      height: 80px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button3 {
      background-color: #F9E998;
      border-color: #DED397;
      padding: 15px 5px;
      width: 200px;
      height: 80px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    h2 {
    text-align: center;
    text-transform: uppercase;
    }
