<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <button (click)="pedirTurno();" mat-raised-button color="primary">
            <a>Llamar turno</a>
        </button>
    </div>
    <div fxFlex>
        <button (click)="RepedirTurno();" mat-raised-button color="primary">
                <a>Re llamar turno</a>
        </button>
    </div>
    <div fxFlex>
        <button (click)="cancelarTurno();" mat-raised-button color="primary">
                <a>Cancelar turno llamado</a>
        </button>
    </div>
    <!--
    <div fxFlex>
        <button (click)="iniciarAsesoria();" mat-raised-button color="primary">
                <a>Iniciar asesoria</a>
        </button>
    </div>
-->
    <div fxFlex>
        <button (click)="finalizarAsesoria();" mat-raised-button color="primary">
                <a>Finalziar asesoria</a>
        </button>
    </div>
      <!--
    <div fxFlex>
        <button (click)="llamarTurnoPerdido();" mat-raised-button color="primary">
                <a>Llamar turno perdido</a>
        </button>
    </div>
-->
</div>